.list {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  &--item {

  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  pointer-events: none;
}

.col > * {
  pointer-events: auto;
}