.Block {
  //変数thisに&(.Block)を入れておく
  $this: &;
  display: block;
  //ブレークポイントはroot(htmlにあるcssの変数を参照)
  //モバイルファースト
  @include media(xs) {}
  @include media(sm) {}
  @include media(md) {}
  @include media(lg) {}
  //パソコンファースト
  @include media(lg, max) {}
  @include media(md, max) {}
  @include media(sm, max) {}
  @include media(xs, max) {}
  &--Element {
    display: block;
    //ホバー(ホバーできる要素のみホバーさせる為)
    @include hover {}
    //テキストのホバー(ホバーできる要素のみホバーさせる為)
    @include hovertext;
    //画像のホバー(ホバーできる要素のみホバーさせる為)
    @include hoverimg;
    //IEハック
    @include iehack {}
    &.-modify {
      display: block;
    }
  }
}