select {
  display: none;
}

.select {
  position: relative;
  &--result {
    display: block;
    width: 100%;
    padding: .5em;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    background: #fafafa;
    border: 1px solid color(bd, green);
  }
  &--modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: zindex(main);
    width: 100%;
    height: 100vh;
    background: rgba(#000,.3);
  }
  &--list {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: zindex(front);
    width: 350px;
    padding: 5% 0;
    background: color(bg,white);
    border-radius: 0 0 4px 4px;
    transform: translate(-50%,-50%);
    @include media(sm) {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: auto;
      padding: 0;
      transform: none;
    }
  }
  &--item {
    position: relative;
    padding: .5em;
    cursor: pointer;
    &:not(:last-of-type) {
      border-bottom: 1px solid color(bd,gray);
    }
    &::before {
      position: absolute;
      top: 50%;
      right: 1em;
      display: block;
      width: 15px;
      height: 15px;
      content: '';
      background: color(bg,white);
      border-radius: 50%;
      box-shadow: 0 0 0 2px color(bg, green);
      transform: translateY(-50%);
    }
    &.is-active {
      color: color(text,white);
      background: color(bg,green);
      &::before {
        background: color(bg,green);
        box-shadow: 0 0 0 2px color(bg, white);
      }
    }
    @include hover {
      color: color(text,white);
      background: color(bg,green);
      &::before {
        background: color(bg,green);
        box-shadow: 0 0 0 2px color(bg, white);
      }
    }
  }
}