<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="robots" content="noindex, nofollow">
    <link rel="stylesheet" href="./assets/css/common.css">
    <link rel="stylesheet" href="./assets/css/style.css">
    <script src="./assets/js/manifest.js" async></script>
    <script src="./assets/js/vendor.js" async></script>
    <script src="./assets/js/main.js" defer></script>
    <link href="//fonts.googleapis.com/css?family=Roboto|Source+Sans+Pro:300,400,600&display=swap" rel="stylesheet">
    <title>Vueグリッドジェネレーター</title>
  </head>
  <body>
    <div class="wrapper">
      <header class="header" id="header"></header>
      <article id="app" class="main">
        <h1 class="main--title">FlexBox Grid Generator</h1>
        <div class="main--body">
          <section class="main--content">
            <h2 class="main--heading">Element</h2>
            <ul class="list">
              <li class="list--item">
                <button @click="shuffle" class="button" type="button">Shuffle</button>
              </li>
              <li class="list--item">
                <button @click="add" class="button" type="button">Add</button>
                <p>{{ addText }}</p>
              </li>
              <li class="list--item">
                <button @click="remove" class="button" type="button">Remove</button>
                <p>{{ removeText }}</p>
              </li>
            </ul>
          </section>
          <section class="main--content">
            <h2 class="main--heading">Entry</h2>
            <ul class="list">
              <li class="list--item">
                <dl class="input">
                  <dt class="input--title"><label for="col">横並びの数</label></dt>
                  <dd class="input--field">
                    <div class="select">
                      <select v-model="select.col.state">
                        <option v-for="item in select.col.list" v-bind:value="item.id" v-bind:key="item.id">{{ item.id }}</option>
                      </select>
                      <span class="select--result" @click="select.col.show = !select.col.show">{{ select.col.state }}</span>
                      <div class="select--modal" v-show="select.col.show" @click="colselect"></div>
                      <ul class="select--list" v-show="select.col.show">
                        <li class="select--item" @click="colselect(item.id)" v-for="(item,index) in select.col.list" v-bind:key="item.id" :class="{'is-active': item.id === select.col.state}">{{ item.id }}</li>
                      </ul>
                    </div>
                  </dd>
                </dl>
              </li>
              <li class="list--item">
                <dl class="input">
                  <dt class="input--title"><label for="row-gap">縦の溝(px)</label></dt>
                  <dd class="input--field"><input id="row-gap" type="number" min="0" max="50" value="20" v-model="rowGap"></dd>
                </dl>
              </li>
              <li class="list--item">
                <dl class="input">
                  <dt class="input--title"><label for="col-gap">横の溝(px)</label></dt>
                  <dd class="input--field"><input id="col-gap" type="number" min="0" max="30" value="10" v-model="colGap"></dd>
                </dl>
              </li>
            </ul>
          </section>
        <section class="main--body -white">
          <h2 class="main--heading">Result</h2>
          <div class="main--content">
            <transition-group name="card-list" tag="ul" class="row" :style="rowStyle()">
              <li class="col" v-for="(card, index) in cards" :key="card.title" :style="colStyle()">
                <section class="card">
                  <h3 class="card--title">{{ card.title }}</h3>
                  <p class="card--text">{{ card.text }}</p>
                  <a class="card--button" :href="card.link" target="_blank" rel="noopener noreferrer">ボタン</a>
                  <figure class="card--img" :style="{backgroundImage: `url(assets/img/${card.img})`}"></figure>
                </section>
              </li>
            </transition-group>
          </div>
        </section>
          <section class="main--content">
            <h2 class="main--heading">Code</h2>
            <ul class="list">
              <li class="list--item">
                <pre class="code" data-lang="HTML">
                  <code class="code--container">&lt;ul class=<span class="html-class">&quot;row&quot;</span>&gt;
  &lt;li class=<span class="html-class">&quot;col&quot;</span>&gt;1&lt;/li&gt;
  &lt;li class=<span class="html-class">&quot;col&quot;</span>&gt;2&lt;/li&gt;
  &lt;li class=<span class="html-class">&quot;col&quot;</span>&gt;3&lt;/li&gt;
  &lt;li class=<span class="html-class">&quot;col&quot;</span>&gt;4&lt;/li&gt;
  &lt;li class=<span class="html-class">&quot;col&quot;</span>&gt;5&lt;/li&gt;
  &lt;li class=<span class="html-class">&quot;col&quot;</span>&gt;6&lt;/li&gt;
  &lt;li class=<span class="html-class">&quot;col&quot;</span>&gt;7&lt;/li&gt;
  &lt;li class=<span class="html-class">&quot;col&quot;</span>&gt;8&lt;/li&gt;
&lt;/ul&gt;</code></pre>
              </li>
              <li class="list--item">
                <pre class="code" data-lang="CSS">
                  <code class="code--container">.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: <span class="css-value">-{{ rowGap }}px</span>;
  margin-left: <span class="css-value">-{{ colGap }}px</span>;
  <span class="comment-out">//padding部分にホバーが効かないようにする</span>
  pointer-events: none;
}

.col {
  padding-top: <span class="css-value">{{ rowGap }}px</span>;
  padding-left: <span class="css-value">{{ colGap }}px</span>;
  width: <span class="css-value">{{ StyleWidth() }}%</span>;
}

.col > * {
  <span class="comment-out">//colの下の要素にはホバーをさせたいのでpointer-eventsを元に戻す</span>
  pointer-events: auto;
} </code></pre>
              </li>
            </ul>
          </section>
        </div>
      </article>
      <footer class="footer" id="footer"></footer>
    </div>
  </body>
</html>